<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 60%;">
      <ion-col col-6 (click)="TakePicture()">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
      </ion-col>
      <ion-col col-6 (click)="startListening(2)">
          <ion-icon name="mic" float-right class="mic-icon"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="chat-list" (click)="startListening(chats[chats.length-1]['task_index'])">
      <ion-list>
        <ion-item *ngFor="let chat of chats" no-lines style="background: none;">
          <div class="chat-message" *ngIf="chat.author == 'LOOK'">
            <div class="left-bubble">
              <p text-wrap>{{chat.message}}</p>
            </div>
          </div>
          <div class="chat-message" *ngIf="chat.author == 'LOOK_USER'">
              <div class="right-bubble">
                <p text-wrap>{{chat.message}}</p>
              </div>
            </div>
        </ion-item>
      </ion-list>
    </ion-row>

    <!-- <ion-row class="chat-list" scrollY="true">
      
      
    </ion-row> -->
  </ion-grid>
</ion-content>

<!-- <ion-footer no-border padding>
    <ion-item class="message-input-box">
      <ion-input type="text" placeholder="type here..." [(ngModel)]="message_in_text_box"></ion-input>
      <button ion-button round item-right clear (click)="sendTypedMessage(chats[chats.length-1]['task_index'])"><ion-icon name="send" class="send-icon"></ion-icon></button>
    </ion-item>
</ion-footer> -->